[2021-12-15 22:39] nimarezainia opened #160 "[Elastic Agent] Support Global processors on a per policy basis"

[2022-01-25 18:53] cmacknz opened #66 "Add "elastic-agent' product origin header when running under the Elastic agent."

[2022-03-03 19:14] leehinman opened #30 "Increase the default number of workers from 1"

[2022-03-14 19:26] cmacknz opened #3 "[Meta][Project] Implement the Elastic Agent Data Shipper"
## Goal
The is the project issue tracking the implementation of the Elastic agent data shipper, as designed in the [proposal](https://docs.google.com/document/d/1NaaoweevnylnGAPXzuwvwuFcC7dYSIDNUoBkf2SCR5I/edit?usp=sharing).

![image](https://user-images.githubusercontent.com/3466215/158591822-96360185-5cf7-479b-89ea-f072637e1089.png)

## Motivation
The shipper is part of the Elastic Agent v2 proj

[2022-03-16 18:15] cmacknz opened #4 "Setup the shipper's build, lint, and CI process"
Setup the shipper repository with the standard mage targets (check, build, unitTest, etc.). The mage and lint targets should match those setup for https://github.com/elastic/elastic-agent-libs and use the same golangci-lint configuration. The lint step in CI should use a Github action, see https://github.com/elastic/beats/pull/30985/files for the setup.

Jenkins should be configured to run the lin

[2022-03-16 18:25] cmacknz opened #5 "Define the initial shipper gRPC interface"
Define the initial shipper gRPC service and use protoc to generate the client and server implementations. The interface should be defined in the https://github.com/elastic/elastic-agent-client repository to ensure the entire elastic agent interface is defined in one place, and can be imported without depending on it's internal implementation.

The [proposal](https://docs.google.com/document/d/1Naa

[2022-03-16 18:45] cmacknz opened #6 "Create a skeleton shipper executable"
Create a skeleton shipper executable that:
- Logs to stdout per the control plane pipeline specification.
- Starts a gRPC server when run, that exposes the event gRPC service.
- Can start an HTTP server based on a command line flag that:
   - Exposes the /debug/vars endpoint for metrics (or similar, like the beats /stats endpoint).
   - Exposes the /debug/pprof endpoint for profiling.
- Consumes a

[2022-03-16 19:53] cmacknz opened #7 "[Meta][Feature] Implement the memory queue and output pipeline"
This is a feature meta issue to implement the memory queue to output pipeline in the shipper. The scope is restricted to implementation of the memory queue and an output with no external dependencies (the console or file output for example). The disk queue, Elasticsearch/Kafka/Logstash outputs, and processors are explicitly out of scope.

![image](https://user-images.githubusercontent.com/3466215/

[2022-03-16 20:09] cmacknz opened #8 "[META][Feature] Enable filebeat and metricbeat to publish data to the shipper"
This is a feature meta issue (expected to have sub-issues) to allow filebeat and metricbeat to publish data to the shipper when run under Elastic agent. All other beats are out of scope.

An output for existing beats should be implemented that publishes to the shipper gRPC interface. When the shipper gRPC output is used, the beat output pipeline should be configured to be as simple as possible. Us

[2022-03-16 20:28] cmacknz opened #9 "[Meta][Feature] Implement end to end acknowledgement"
This is a feature meta issue to support end to end acknowledgement in the shipper. Inputs must be able to be notified when their data has successfully been written to the target output to avoid data loss. End to end acknowledgement is only necessary when using the memory queue. Data published to the disk queue will be acknowledged immediately as it cannot be lost once persisted.

The delivery guar

[2022-03-17 17:55] cmacknz opened #10 "Implement an MVP of the Elasticsearch output"
Once https://github.com/elastic/elastic-agent-shipper/issues/7 is complete, implement basic support for the Elasticsearch output.

The simplest solution is to use the existing beats Elasticsearch output, but we should evaluate the effort required to switch to the official go-elasticsearch client (https://github.com/elastic/elastic-agent-shipper/issues/14) with the initial output. If the effort is

[2022-03-17 18:23] cmacknz opened #11 "Measure and expose shipper queue performance metrics"
Add metrics counters and gauges for the follow set of metrics, and ensure they are exposed on the shipper's HTTP monitoring interface under /debug/vars:

- [ ] Report the following set of queue metrics:
  - [ ] The current configured maximum size of the queue:
    - [x] Report the maximum queue size in events for the memory queue: https://github.com/elastic/elastic-agent-shipper/blob/e231e51569184

[2022-03-18 15:49] cmacknz opened #12 "Include the shipper in the Elastic Agent diagnostic bundle"
The shipper state should be captured by the Elastic agent diagnostic command, documented here: https://www.elastic.co/guide/en/fleet/current/fleet-troubleshooting.html#_collect_elastic_agent_diagnostics_bundle

The diagnostic archive collects the following information:

- Elastic Agent versions numbers
- Beats (and other process) version numbers and process metadata
- Local configuration, elastic-

[2022-03-18 17:42] cmacknz opened #13 "Allow the Elastic Agent to run the shipper"
The data shipper must be runnable by the Elastic agent. This issue captures the shipper side work for https://github.com/elastic/elastic-agent/issues/214.

The shipper executable must implement the Elastic agent control protocol, defined here: https://github.com/elastic/elastic-agent-client. Note that the control protocol is being updated as part of the Agent V2 architecture in https://github.com/

[2022-03-18 17:55] cmacknz opened #14 "Use the go-elasticsearch client for the Elasticsearch output"
The existing shipper Elasticsearch output uses the legacy Beats Elasticsearch client, https://github.com/elastic/beats/tree/main/libbeat/esleg.

The shipper should switch to the official [go-elasticsearch](https://github.com/elastic/go-elasticsearch) client and use its [BulkIndexer](https://pkg.go.dev/github.com/elastic/go-elasticsearch/v8/esutil#BulkIndexer) for writing events to Elasticsearch. I

[2022-03-22 20:10] cmacknz opened #15 "[Meta] Shipper 8.5 - Experimental integration with Filebeat and Metricbeat"
The 8.5 release milestone minimum feature set necessary to use the shipper with metricbeat and filebeat: only support the memory queue and the Elasticsearch output, leaving processors in the beats. The shipper can be enabled by setting an environment variable when starting the agent. A feature flag will be added to the agent policy and Fleet UI in a future iteration.

![image](https://user-images.

[2022-03-22 20:14] cmacknz opened #16 "[Meta][Project] Shipper phase 2: Migrate Endpoint Security and the security beats to the shipper"
Phase 2 is where integration testing with the endpoint security solution and the security beats begins. The feature set from phase 1 can be used as a starting point for this integration.

Development to support the disk queue in the agent and shipper will begin in this phase, along with the work to migrate processing to the shipper. These new features are not strict requirements for releasing supp

[2022-03-24 16:44] ph commented on #11
@michel-laterman Would be good to have your inputs here too

[2022-03-24 17:51] michel-laterman commented on #11
As far as diagnostics go, we would like to be able to access recent metrics/tracing data in order to include them with our bundles.

If metrics/tracing are handled through the pipeline env then we can use a queue or buffer of some sort to capture recent data (similar to the ring-buffer)

[2022-03-29 18:03] fearful-symmetry commented on #6
Okay, finally digging into this and how it should work. I'm kind of working on the assumption that the first PR/commit will literally be a gRPC skeleton with some basic server code. However, I'm not quite sure what the interface between the gRPC server and the memory queue is supposed to look like.

[2022-03-29 18:08] cmacknz commented on #6
Let's not worry about the interface to the memory queue yet. Let's just get an executable with a gRPC server running.

We can sort out how the memory queue connects gRPC interface as part of https://github.com/elastic/elastic-agent-shipper/issues/7.

Once we have all the gRPC scaffolding done, you can move onto https://github.com/elastic/elastic-agent-shipper/issues/11 and leave the output pipelin

[2022-03-30 14:02] rdner commented on #8
@cmacknz I'm a bit confused about this sentence.

When we talked 1 on 1, we agreed that during the very first iteration the gRPC server will be one of the output options along with Elasticsearch, File output, Kafka, etc.

Later at the team call I asked the same question to widen the discussion circle but then you answered something different about having a feature flag and switching some logic in

[2022-03-30 15:09] cmacknz commented on #8
I recommend option 1 as it will be simpler to implement and maintain in the long term. It follows the model currently used by Elastic agent to configure outputs for beats.

[2022-03-30 15:09] ph commented on #8
I prefer also option 1, so we don't have a special case or transformation to do.

[2022-03-30 17:40] faec commented on #8
I'm not sure how option 1 fits with the other pending pieces. I think perhaps there's been some confusion with the "output" language that is being used for two different stages of processing: (1) sending data from the input to the processor / shipper before it enters the queue, and (2) sending final event data from the shipper to the upstream target (elasticsearch, logstash etc) after it exits the

[2022-03-30 18:03] cmacknz commented on #8
Yes, the language isn't precise enough, neither does the fact that the beat pipeline and the shipper will have overlapping functionality.

My view is that the development needs to be an iterative process where we start with some duplication between the beat and shipper just to get them connected to each other, and then slowly migrate functionality from the beat side into the shipper when run under

[2022-03-30 19:50] fearful-symmetry commented on #6
So, now that I have a basic shipper up, I'm looking at the http/pprof requirement here. The elastic-agent actually has a bunch of the init/management code in `internal/pkg/agent/cmd/run.go`. I'm kind of wondering if we should library-ize this existing code and the associated config objects, then import them back into agent and the shipper. Thoughts @kvch @cmacknz ?

[2022-03-30 20:02] cmacknz commented on #6
Not a bad idea, that code already has the signal handling setup and will probably use the agent policy config format (what the shipper should use). Might be a bit of work though, I'd ask the control plane team what they think and if it's a good idea create a separate issue to do it.

[2022-03-30 20:28] fearful-symmetry commented on #6
@elastic/elastic-agent-control-plane Do we have any opinions on this?

[2022-03-30 21:31] ph commented on #6
Thanks for the ping, this is good timing indeed, last Friday. I was looking at our `run` and how we are bootstrapping our system in Agent. I am not a super fan of how it's currently made. We have indeed inherited some of the beats cruft and some of our own.. so I've started this experimentation. https://github.com/ph/vif/blob/main/cmd/vif/main.go I wanted to facilitate our development of the v2 an

[2022-03-30 21:34] ph commented on #6
**Note:** the code was just an experiment, take it with a grain of salt. :)

[2022-03-31 19:11] fearful-symmetry commented on #4
Now that the initial PR is merged, we have a basic CI and a handful of custom and imported mage targets.

The biggest issue is that a lot of the glue code we'd want to have in the shipper currently lives in the the elastic-agent repo in a non-importable form. I'm not a big fan of copy-and-pasting that much code, so we need to look into migrating a lot of those existing targets and helper code back

[2022-03-31 21:31] fearful-symmetry commented on #5
With the first skeleton now merged, how much of this is still open? Do we want to move the gRPC code itself to the client repo?

[2022-04-01 14:04] cmacknz commented on #5
Let's close this. I think our life may be easier with the proto files defined in the shipper repository as we iterate on them. We can move them later.

[2022-04-04 19:47] zez3 commented on #7
So what will happen when the source/producer is syslog or any normal udp stream for that matter?
Or the producer is something else?

[2022-04-04 20:21] cmacknz commented on #7
The only time the queue should fill is when the output (Elasticsearch/Logstash/Kafka) is unavailable or can't keep up in the data volume. If that situation persists for long enough eventually there will be data loss. When that point is depends on the data volume, queue size, and duration of the problem causing the queue to fill.

[2022-04-06 13:22] kvch commented on #8
Does adding a feature flag make sense in beats? It is just basically a setting that enables or disables features. How is that different from setting `output.elasticsearch` instead of `output.shipper` (by Agent) if we want to fallback to the old way of sending events?

[2022-04-13 13:20] rdner opened #22 "Implement and document the basic experimental `shipper` output type as described in Option 1"

[2022-04-13 13:30] rdner commented on #8
I've updated the description and added a checklist for tracking the progress.

One thing which is not 100% clear to me is [input](https://github.com/elastic/elastic-agent-shipper/blob/b3436b16b63b35d199bcc6c9f9a1418dd82b0519/api/shipper.proto#L51-L59) and [data stream](https://github.com/elastic/elastic-agent-shipper/blob/b3436b16b63b35d199bcc6c9f9a1418dd82b0519/api/shipper.proto#L61-L68) options.

[2022-04-13 13:36] cmacknz commented on #8
Thanks! I have a separate issue already for returning acknowledgements from the shipper: https://github.com/elastic/elastic-agent-shipper/issues/9. I expected that would be too much work to fold into this issue.

The input and data stream will have to be propagated from the agent policy, which we may not do yet. We may not need the data stream until we implement processors in the shipper, at which

[2022-04-13 13:50] rdner opened #23 "Add integration tests for the shipper output"
* An event batch is published from an input to the shipper gRPC server
 * An event batch is not dropped when the gRPC server is not available but starts later
 * An event batch is not dropped when `ResourceExhausted` code is returned from the gRPC

[2022-04-13 13:51] rdner opened #24 "Add support for input and data stream identification when sending events"
[input](https://github.com/elastic/elastic-agent-shipper/blob/b3436b16b63b35d199bcc6c9f9a1418dd82b0519/api/shipper.proto#L51-L59) and [data stream](https://github.com/elastic/elastic-agent-shipper/blob/b3436b16b63b35d199bcc6c9f9a1418dd82b0519/api/shipper.proto#L61-L68) options should be propagated to the `PublishEvents` call via gRPC.

[2022-04-14 17:24] cmacknz opened #27 "The disk queue must assign an auto-incrementing ID to each element"
To support implementation of end to end acknowledgement and simplify the calculation of a queue lag metric, the queues must assign an auto-incrementing ID or sequence number to each element added to the queue. Both queue types must support this consistently:

See https://github.com/elastic/beats/pull/32541 for the memory queue implementation.

[2022-04-14 17:44] fearful-symmetry commented on #27
Okay, so @cmacknz I'm assuming this is what we'll use the `QueueID` field in the protobuf spec for? I assume the idea is that the server-side `PublishEvents` will assign the queue ID based on some (global? Per-input?) counter, and that gets passed along to the queue, and returned to the input in the `PublishReply` in case it needs it for...something.

[2022-04-14 17:50] cmacknz commented on #27
Yes. The delivery guarantees section of the design proposal explains this in a bit more detail.

If inputs writing to the shipper want an acknowledgement of when their message has been successfully written to the output, they need some identifier to use to track their message. Rather than force inputs to generate UUIDs in a possibly inconsistent way, we give them back the queue sequence number as

[2022-04-14 19:37] faec commented on #27
Both the memory and disk queues have something resembling this internally, but getting them to handle this use case will take some work:

- The disk queue assigns an ascending 64-bit id to everything that goes through it, but it's currently only assigned on output, when the input ACKing and such has already been completed. Assigning it at input instead and propagating it through serialization woul

[2022-04-14 21:21] fearful-symmetry commented on #11
Okay, so I'm just gonna use this to track the various intersecting issues needed for queue metrics:

- [ ] merge the actual PR that defines the metrics: https://github.com/elastic/beats/pull/31289
- [ ] Implement the "basic" queue size and max size metrics in the queue
- [ ] Implement the "oldest event" metric in the queue(s)
- [ ] Implement queue lag, once this is dealt with: https://github.com/e

[2022-04-20 21:57] nimarezainia commented on #10
@cmacknz @jlind23 will this be targeted for 8.4?

[2022-04-20 22:06] nimarezainia opened #28 "Implement more efficient output tuning parameters to manage throughput"
Beats have many knobs and whistles that allow the user to modify output related parameters in order to increase throughput. These parameters are extremely convoluted and sometimes contradict one another. With the new shipper design we have the opportunity to simplify and create more meaningful parameters for users to use.

### Performance Tuning Proposal
1. Change bulk_max_size to maximum_batch_si

[2022-04-25 09:56] jlind23 commented on #10
@nimarezainia this is something we may need for 8.3 in order to have the shippers properly working with an output.

[2022-04-25 14:49] cmacknz commented on #10
I targeted it to 8.4. We might start it sooner though if we need it as Julien noted.

[2022-04-25 18:40] cmacknz commented on #13
Assigning this to @fearful-symmetry as it aligns with the metrics/diagnostic reporting work.

[2022-04-25 20:48] fearful-symmetry commented on #4
I think we can close this? The shipper now has `notice` and all the other needed targets. There's still some rough edges, but I don't think we're actually missing anything?

[2022-04-25 20:49] fearful-symmetry commented on #6
I think once https://github.com/elastic/elastic-agent-shipper/pull/29 is merged, we should be able to close this?

[2022-04-26 12:53] cmacknz commented on #4
I think we might be missing the automation to bump the Go version automatically: https://github.com/elastic/observability-robots/blob/main/docs/teams/ci/bump-versions.md#go-bump

Specifically https://github.com/elastic/apm-pipeline-library/blob/main/.ci/.bump-go-release-version.yml

We are missing that for a few of the new repositories it seems.

[2022-04-26 13:22] cmacknz commented on #6
The only additional thing I think we are missing is signal handling for graceful shutdown. This is provided in the libbeat service package for example: https://github.com/elastic/beats/blob/main/libbeat/service/service.go#L42

We could do that under this issue or make a separate issue for it.

[2022-04-26 20:12] fearful-symmetry commented on #6
Ah, I knew I was forgetting something.

[2022-04-28 21:07] fearful-symmetry commented on #4
Hah, I didn't even know that was a thing.

[2022-04-29 19:29] fearful-symmetry commented on #4
@cmacknz alright, we have the automation for the version bump set up.

[2022-05-02 13:28] cmacknz commented on #6
Yes, closing. Thanks!

[2022-05-02 13:28] #6 closed

[2022-05-02 13:29] #4 closed

[2022-05-06 18:02] leehinman opened #33 "[Meta][Feature] Implement encrypted disk queue"
# Summary

This is a feature meta issue to implement the encrypted disk queue for the shipper. The scope is restricted to implementation of encryption for the existing beats disk queue, changing how the queue interacts with producers, consumers and pipelines is out of scope.  Design doc can be found [here.](https://docs.google.com/document/d/1l96-0IY18uJHZsItnFpniFRo9156GyKqz6VzKtysG1A/edit)

# Mi

[2022-05-09 12:59] rdner commented on #23
@cmacknz @faec

Looking at the interface again, it occurred to me that I never asked one of the questions I had:

https://github.com/elastic/elastic-agent-shipper/blob/f2aa770912437213b866ee978692c0f0dc7af572/api/shipper.proto#L13-L21

is it fair to assume that regardless the returned error I must always check the list of results and mark the listed events as "accepted to the queue"?

I'll give yo

[2022-05-09 13:15] cmacknz commented on #23
Yes, I think it is reasonable for us to handle partially published batches. If we start implementing it and decide it is too difficult or complex we can re-evaluate that.

`ResourceExhausted` is the most obvious case where some events could succeed but others may fail (because the queue is full). For now you can assume it is the only error with this behaviour.

[2022-05-11 15:42] cmacknz opened #34 "Implement the shipper's gRPC API"
Implement the shipper's gRPC API, which is currently a skeleton defined in https://github.com/elastic/elastic-agent-shipper/blob/main/server/server.go

The API specification is currently defined in https://github.com/elastic/elastic-agent-shipper/blob/main/api/shipper.proto

Acceptance Criteria:

- [x] https://github.com/elastic/elastic-agent-shipper/issues/84
- [x] The API specification is update

[2022-05-11 15:43] cmacknz commented on #8
Added https://github.com/elastic/elastic-agent-shipper/issues/34 as part of this work.

[2022-05-11 15:44] cmacknz commented on #7
This now depends on https://github.com/elastic/elastic-agent-shipper/issues/34. Both the client (beat) and server side implementations will be done together as part of https://github.com/elastic/elastic-agent-shipper/issues/8.

[2022-05-11 19:24] #23 closed

[2022-05-12 11:16] zez3 commented on #7
That sounds exactly right. On our older system(Graylog) we've had a 600Gb queue(disk journal) that allowed us to survive a 24h ElasticSearch downtime. When one such queue got ~95% full we where declaring that node dead and the loadbalancer in front moved the stream to a second node.
Ideal the new shipper should anounce this somewhere like:
https://www.elastic.co/guide/en/beats/filebeat/master/http

[2022-05-12 12:14] rdner opened #36 "Add integration tests for the gRPC server"
The purpose of this test is to verify that the current version of the shipper client is able to successfully publish events to the shipper server. We could take the following steps:

1. We run filebeat and the shipper server as binaries or containers, no code dependencies
2. We pre-define configuration that would allow:
  2.1. filebeat to read a file that has N events
  2.2. filebeat to alter the

[2022-05-12 12:15] rdner commented on #36
@cmacknz feel free to add your thoughts on this.

[2022-05-12 13:46] cmacknz commented on #36
Looks good to me, having this test (and the more advanced tests) will be really valuable. Thanks!

[2022-05-12 21:45] fearful-symmetry commented on #27
Now that https://github.com/elastic/beats/issues/31307 is closed and most of the (currently concerning) tech debt is cleaned up, is there anything blocking this @faec ?

[2022-05-16 18:38] cmacknz commented on #33
A few questions as I'm working on making sure we have all the pieces we need for this tracked somewhere:

The encryption will be disabled by default in beats, correct? Likely an undocumented configuration file parameter or similar? I don't think we want to support the encrypted queue for beats (at least initially), and I don't think there's a suitable key store to use there.

This is where integra

[2022-05-18 16:50] cmacknz opened #38 "Upgrade to Go 1.17.10"
Related beats PR: https://github.com/elastic/beats/pull/31636

Also figure out why there was no PR automatically opened with this update.

[2022-05-20 14:41] #38 closed

[2022-05-20 19:15] faec opened #41 "Libbeat disk queue should support custom serialization"
Currently libbeat's disk queue (de)serialization (https://github.com/elastic/beats/blob/main/libbeat/publisher/queue/diskqueue/serialize.go) assumes the underlying event type is `publisher.Event`, which needs to change before we can support the disk queue in the shipper. The disk queue should accept a serializer as part of its configuration (possibly defaulting to its current behavior for simplici

[2022-05-20 19:27] cmacknz commented on #33
Added https://github.com/elastic/elastic-agent-shipper/issues/41 as a dependency of this work if it isn't completed by the time we try to integrate this into the shipper.

[2022-05-26 14:37] cmacknz opened #43 "Migrate beats code reused in the shipper to elastic-agent-libs"
Once the initial shipper exists, we should migrate all the code we reused from beats into the https://github.com/elastic/elastic-agent-libs repository. This will make it clear that the code is used outside of the original beats, and should allow us to set up automation to regularly merge updates into both repositories.

[2022-05-27 15:13] cmacknz opened #44 "Investigate changing the pipeline order to improve performance"
Let's consider the case where the shipper is configured to use a disk queue with the Elasticsearch output. Let's also assume we use the default protobuf encoding over gRPC. If we reuse the existing structure of the beats publishing pipeline, the data flow will look like:

[code]

The diagram shows that the data must be serialized multiple times:
1) To the protobuf wire format when the input sends

[2022-05-31 18:48] cmacknz opened #46 "Prototype running the shipper under agent using the V1 protocol"
The agent V2 protocol is what the final version of the shipper should use, but given that it is still under development we should attempt to integrate with the agent as it exists today with the V1 protocol. The V1 version of the protocol is defined in the same proto file as V2: https://github.com/elastic/elastic-agent-client/blob/main/elastic-agent-client.proto

For reference the beats V1 client i

[2022-06-01 06:59] jlind23 commented on #28
@nimarezainia did you have a chance to work on the requirements for this?

[2022-06-02 18:24] fearful-symmetry commented on #13
Okay, brief update:
I don't know if it's tracked on github, but there's a new spec for how agent will bundle + build it's related components, which will probably impact a lot of how this feature will be tested+developed.

The agent-side V2 PR is here: https://github.com/elastic/elastic-agent/pull/502

[2022-06-03 18:44] nimarezainia commented on #28
i'm still working on defining these

[2022-06-06 16:57] cmacknz commented on #13
Looks like the V2 spec PR is merged so you should be unblocked.

[2022-06-06 20:43] fearful-symmetry commented on #13
Current state: Have this PR open to make the shipper a tad easier to test: https://github.com/elastic/elastic-agent-client/pull/33

Currently, I have the basic skeleton of a controller client set up and working. Still trying to understand the control flow/startup process.

[2022-06-07 14:57] cmacknz opened #49 "Correctly handle enqueued events affected by agent policy changes"
We need to think through all the edge cases that can arise when events in the shipper queue are affected by an agent policy change. For a concrete example, consider the case where a user removes an integration but events collected by that integration still reside in the shipper queue:

1. User creates Agent policy rev.1 containing integration A and Integration B.
2. Fleet server generates an API k

[2022-06-08 21:01] zez3 commented on #33
Would the encryption overhead not slow/bog down the ingest queue rate?
I guess some benchmarks will show the difference.

I think that if someone already has access on your host where your Agent is running you would have to worry about other more important stuff first.

Unless there's a TPM/HSM in place, from my point of view as a security engineer the expected protection that DPAPI CryptProtectDa

[2022-06-09 00:14] cmacknz commented on #33
@zez3 encrypting the queue will be optional, for many of the reasons you've listed.

[2022-06-09 18:27] cmacknz opened #52 "Inject Beat gRPC stream identifiers using the V2 agent specification format"
To quickly allow metricbeat and filebeat to integrate with the shipper the stream identifiers (data stream and input ID) needed to allow the shipper to map events to processors are being injected via the `inject_stream_processor` specification file transformation. See the implementation in https://github.com/elastic/elastic-agent/pull/527.

In the V2 agent [specification file](https://github.com/e

[2022-06-09 19:48] cmacknz opened #53 "[Discuss] Define the configuration format the agent should provide to the shipper"
An initial configuration file for the shipper has been defined at https://github.com/elastic/elastic-agent-shipper/blob/main/elastic-agent-shipper.yml, but it does not yet include all of the information required for the shipper to run.

We must define the subset of an agent policy that should be sent to each instance of a shipper process started by the agent.

Relates to:
- https://github.com/elas

[2022-06-09 19:50] cmacknz commented on #53
CC @rdner as this will likely define how the shipper receives the processor list from the agent.

CC @fearful-symmetry since the configuration format should be finalized to complete https://github.com/elastic/elastic-agent-shipper/issues/13

[2022-06-13 14:19] rdner commented on #53
In my [proposal document](https://docs.google.com/document/d/1fI6vBcxpxAhS4YtEhpveKR8y_irqPNqSOW2RTuRX8cc/edit) I had the following example:

[code]

This is the bare minimum we would need in the shipper, it does not have to be exactly that but it's something we could start the discussion with.

[2022-06-13 18:07] fearful-symmetry commented on #53
Also don't forget monitoring/debug config, which will need to live somewhere in here as well.

Also an interesting question is where the source of truth for this configure structure will live, if there is one. Ideally, there would be a single protobuf file that lives somewhere, and is imported by the shipper, and agent, and whatever components care about sending/receiving that config. Not sure if

[2022-06-13 19:03] cmacknz opened #54 "Elastic agent metric dashboard for the shipper"
- [x] Depends on https://github.com/elastic/elastic-agent-shipper/issues/267

Fleet exposes a metric dashboard for each enrolled agent, with output metric broken down by each process making a connection to Elasticsearch. A screenshot of this dashboard is below:

<img width="1285" alt="Screen Shot 2022-06-13 at 2 57 22 PM" src="https://user-images.githubusercontent.com/3466215/173425182-b60d2260-60

[2022-06-13 19:18] cmacknz commented on #54
@ph is https://github.com/elastic/integrations/tree/main/packages/elastic_agent the integration generating these dashboards? Or something else?

[2022-06-13 19:26] cmacknz opened #55 "Automatically set GOMAXPROCS"
**Describe the enhancement:**
Automatically set GOMAXPROCS when beats are run in containers with a CFS quota set to minimize CPU throttling.

See https://github.com/elastic/apm-server/issues/7967 and https://github.com/elastic/apm-server/pull/8278 for more context.

**Describe a specific use case for the enhancement or feature:**
Setting GOMAXPROCS based on the configured CPU quota makes performan

[2022-06-15 13:17] cmacknz opened #57 "[Meta] Implement shipper performance testing"
The Elastic agent data shipper is actively under development and we need a way to benchmark its performance as part of the agent system. Specifically we are interested in benchmarking the achievable throughput of a single agent using the shipper along with its CPU, memory, and disk IOPS overhead. Users care about the performance of the agent and we need a way to measure and improve it.

# Design
T

[2022-06-15 17:44] cmacknz commented on #27
Switching the assignee to @faec here as she now owns the parent issue https://github.com/elastic/elastic-agent-shipper/issues/9

[2022-06-15 18:02] faec opened #58 "Tune / finalize the queue's batch and timing parameters"
Right now the shipper's internal Beats memory queue uses fixed defaults for its initialization parameters (batch minimum event count and timeout). These are placeholders to bootstrap the shipper, and should be replaced once things are fleshed out enough to run a comparison of the options. This may involve removing those parameters entirely as we rework internal batch handling, but if not, we shoul

[2022-06-15 21:24] fearful-symmetry commented on #46
PR here for the initial agent-side changes: https://github.com/elastic/elastic-agent/pull/561

[2022-06-15 22:01] fearful-symmetry commented on #46
shipper-side code here: https://github.com/elastic/elastic-agent-shipper/pull/59

[2022-06-16 11:31] #24 closed

[2022-06-20 14:14] cmacknz opened #60 "Add a basic shipper integration test."
Most of our ongoing work can or should be verified using integration tests that interact with the shipper process as a whole. This work can happen as part of several of our ongoing issues, but it is easier to define when separated out into a separate issue.

Add the first shipper integration test that starts the shipper process (or invokes its main entry point from a Go test), publishes data to it

[2022-06-20 14:15] cmacknz commented on #60
Assigned to @faec to start as this seems like a natural extension of the existing queue unit tests.

[2022-06-20 16:36] cmacknz commented on #36
Related, https://github.com/elastic/elastic-agent-shipper/issues/60 to write the first basic test that communicates with the shipper binary. Could also be done as part of this issue depending on progress and the order things happen in.

[2022-06-20 16:37] cmacknz commented on #36
Actually, looks like this covers https://github.com/elastic/elastic-agent-shipper/issues/60 already. Closing that one as a duplicate.

[2022-06-20 16:38] cmacknz commented on #60
Duplicate of https://github.com/elastic/elastic-agent-shipper/issues/36

[2022-06-20 16:39] cmacknz commented on #36
Switching assignee to @faec like #60 was to start.

[2022-06-20 18:02] cmacknz opened #61 "Add initial repository documentation"
Shipper development has progressed enough that we should add all of the standard repository documentation, and also some more details on how the shipper is implemented:

1. Add a more detailed README file explaining what the shipper is. Include an architecture diagram that includes how it fits in with the agent.
2. Add a CONTRIBUTING guide explaining the development process: building, linting, tes

[2022-06-20 23:59] cmacknz commented on #36
Re-reading this issue it is written to test filebeat (or any beat really) communicating with the shipper. We should do this but we can start with something simpler like #32 which just starts the shipper in isolation.

Unassigned for now while we sort out what order the tests should be built in.

[2022-06-21 00:12] cmacknz commented on #60
Let's make this issue the precursor to #36 and do it as part of https://github.com/elastic/elastic-agent-shipper/issues/34

[2022-06-21 00:13] cmacknz commented on #36
Let's write one simple test first as described in #60 that doesn't require using the beat shipper client for simplicity, and then follow up with this more complex set of tests.

Both tests are now requirements of https://github.com/elastic/elastic-agent-shipper/issues/34 which Denis owns.

[2022-06-21 15:56] cmacknz opened #62 "Allow `google.protobuf.Timestamp` in shipper Event fields and metadat"
The shipper `Event` payload are currently defined as [google.protobuf.Struct](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Struct) which require encoding  timestamps as strings:
https://github.com/elastic/elastic-agent-shipper/blob/504c1e104c981964ab1fc5f90efc1eb03824f323/api/shipper.proto#L48-L54

Following from the note in the event definition, we

[2022-06-21 16:08] cmacknz opened #63 "Evaluate defining the PublishEvents() RPC as a stream"
The primary RPC for sending events to the shipper is `PublishEvents`, currently defined as:
https://github.com/elastic/elastic-agent-shipper/blob/504c1e104c981964ab1fc5f90efc1eb03824f323/api/shipper.proto#L13-L27

We should evaluate whether it would be more efficient to implement this RPC as a stream, or provide a streaming version of the RPC. The gRPC performance best practices guide (https://grp

[2022-06-21 16:18] cmacknz opened #64 "Allow the Beats' shipper output to depend on the shipper client directly."
The Beats' shipper output currently clones the the shipper's generated protobuf client to avoid a dependency cycle between the shipper and beats: https://github.com/elastic/beats/tree/main/libbeat/outputs/shipper/api

We need to break this dependency cycle and ensure the API is only defined in a single place. Decide on an approach and eliminate the duplication of the shipper API between beats and

[2022-06-21 19:36] cmacknz commented on #66
Moved to the shipper repository since this is where we should implement this.

[2022-06-22 19:59] cmacknz commented on #12
Bringing into v8.4, hopefully this just works with minimal changes to the shipper. There may be some work to make the profile collection work.

[2022-06-22 20:14] cmacknz commented on #53
OK, I think it's clear we need the `output`, `agent.monitoring`, and a slightly stripped down section of the `inputs` section that includes the input IDs, and stream IDs with their data streams and processors per Denis' comment above.

The snippet in the issue description looks like it captures all of this now.

[2022-06-22 20:16] cmacknz commented on #53
@fearful-symmetry I believe the agent policy is stored as Kibana saved object by fleet, see https://github.com/elastic/kibana/blob/60e7f1dcd120c5512506050611d99c3455cbd912/x-pack/plugins/fleet/server/saved_objects/index.ts#L131 for example.

If you look around https://github.com/elastic/kibana/tree/main/x-pack/plugins/fleet/dev_docs and the fleet packages you can follow how fleet handles policies.

[2022-06-22 20:17] cmacknz commented on #53
Unless there's anything else we want to add to this I'll convert this into an issue in the agent repository for the control plane team to send us the agent policy sections we care about.

[2022-06-22 22:48] fearful-symmetry commented on #12
brief update, just to track this. On the agent, the command runs this: https://github.com/elastic/elastic-agent/blob/86ea452716a6299e3d877bb73c8a2d8a8deb5805/internal/pkg/agent/control/server/server.go#L239

Which reaches out to a unix socket and reads the pprof data. On the beat end, it just forwards the default HTTP pprof handler (I think) to a custom API endpoint in `./libbeat/api/routes.go` de

[2022-06-24 19:53] cmacknz opened #68 "Support delaying shutdown until the shipper queue is empty"
To minimize data loss, the shipper should support delaying shutdown and process exit until there are no longer any active Publish RPCs and all events remaining in the queue have been written to the output.

Specifically, when the agent control protocol indicates the shipper's expected state is [STOPPING](https://github.com/elastic/elastic-agent-client/blob/1a71765a8bbeeedb3e76d984c9f4f39bc9456e3c/

[2022-06-28 14:30] rdner commented on #64
I don't really like any of the listed options so far.

1. We cannot really remove the dependency on beats right now because some code in the shipper still depends on beats: the queue https://github.com/elastic/elastic-agent-shipper/blob/18fb98d457d6dd32977f63572e16b8ba46866348/queue/queue.go#L11-L12 and monitoring tests https://github.com/elastic/elastic-agent-shipper/blob/18fb98d457d6dd32977f6357

[2022-07-04 07:12] jlind23 commented on #66
@cmacknz moving this out of 8.4 following your conversation with @rdner

[2022-07-05 18:44] joshdover commented on #28
Interested to see the list of what we want to support, but we also need to consider that we need to avoid any breaking changes here. Today, we allow the user to use any Elasticsearch output setting from the UI, kibana.yml configuration, and API (though this isn't GA yet).

Migrating this would be quite painful, mostly because we need to send a valid configuration to any agents that are not running

[2022-07-06 07:04] #64 closed

[2022-07-06 13:47] narph opened #74 "Create build and release pipelines for the elastic agent shipper"
Related to the meta issue https://github.com/elastic/elastic-agent/issues/592

Steps:
- [x] expand build implementation to generate platform based binaries https://github.com/elastic/elastic-agent-shipper/pull/73
- [x] align to stack versioning
- [x] update/expand .CI setup
- [x] update infra repo, add shipper as new unified release manager artifact (https://github.com/elastic/release-eng/issues/2

[2022-07-12 15:09] cmacknz commented on #36
We can have the shipper publish a Docker image as part of it's CI process and just consume that in the beats build as we do for the other outputs we test against.

Here's a relatively simple Jenkinsfile demonstrating how to publish a Docker image as an example: https://github.com/elastic/stream/blob/439bc8b880175812ed5441be8237419fba29d877/.ci/Jenkinsfile#L112

[2022-07-12 15:55] rdner commented on #34
@faec I have some questions to ask regarding the [last shipper API change](https://github.com/elastic/elastic-agent-shipper-client/pull/7):

This are statements to double check that I understood the docs correctly:

1. `accepted_count` (in Shipper.Publish) is how many events from a single request went through `queue.Publish` without errors
2. `accepted_index` is a sum of all `accepted_count` value

[2022-07-12 20:42] faec commented on #34
Q1: A full queue is the only way an event can fail to enqueue -- the queue API itself (e.g. `Publish`) doesn't return an error. We could imagine other error conditions, e.g. in the disk queue the input event might fail to serialize, but that doesn't arise until after the client's `Publish` request has already returned. So, the client calling `Publish` should never get an error other than queue-ful

[2022-07-13 09:37] rdner commented on #34
@faec

Regarding Q1 – that's what I also thought.

Q2: I've already implemented the streaming API there, after a closer look I think it can be beneficial for the clients. They can just subscribe to `persistedIndex` changes and listen until `persistedIndex` >= the last `acceptedIndex` they received and then ack their current batch and advance. I think from the consumer perspective it might be a goo

[2022-07-13 11:56] faec commented on #34
Hmm, you're right, I could see it making sense for the persisted index call to be a stream, let's try it that way.

The actual value of `persisted_index` requires support from the queue itself, which I'm working on -- I'll add you on the PR as soon as it's ready.

[2022-07-13 12:10] cmacknz commented on #7
Closing this as completed, queue+output work will continue with separate issues.

[2022-07-13 12:10] #7 closed

[2022-07-13 12:11] #46 closed

[2022-07-13 19:44] cmacknz opened #78 "Implement shipper gRPC server metrics"
Once the gRPC API implementation in https://github.com/elastic/elastic-agent-shipper/pull/76 is merged we need to instrument it to ensure metrics are available for debugging.

The server metrics should be available from the shipper's HTTP interface (when enabled) and should be reported every 30s in the logs. The initial scaffolding for reporting metrics exists in https://github.com/elastic/elastic

[2022-07-14 14:02] cmacknz commented on #28
@joshdover yes that is definitely a possible problem when enabling the shipper, users may need to retune their worker and max_bulk_size configurations if they were using them before.

Even if we tried to apply the same configuration as before it may not behave equivalently as the data flowing through each worker will have changed from before. Filebeat workers would likely only write to `log-*` dat

[2022-07-14 18:04] rdner opened #79 "Implement validation for incoming events"
We should not pass an event if it has no `Source`, `Timestamp` or `DataStream` fields.

[2022-07-18 08:20] jlind23 commented on #28
@nimarezainia Do we have a requirements doc for that? Otherwise it is going to be hard to design.

[2022-07-18 15:30] cmacknz opened #81 "[Design] Should the `PublishEvents` RPC block when the queue is full?"
The shipper `PublishEvents` [documentation](https://github.com/elastic/elastic-agent-shipper-client/blob/af78e67e186cdd291199400cba9f7de20f962e17/api/shipper.proto#L13) currently specifies that it should block until processing is completed and events have been enqueued:

[code]

The initial gRPC server implementation however does not implement this behaviour: https://github.com/elastic/elastic-age

[2022-07-18 15:33] cmacknz commented on #81
Reproducing @rdner's original concerns with having the `PublishEvents` call block:

1. For Example 2 it's the lack of observability. From the client's perspective, this will look like just a slow server. The client would not know about the reason why the request is so slow.

2. A lot of clients will compete for the queue to become empty and this solution does not really solve anything regarding th

[2022-07-18 17:25] cmacknz commented on #81
I personally prefer `PublishEvents` as a blocking call. I think it simplifies the client implementation in that they do not need to worry about retry strategies, they can simply call `PublishEvents` and wait for it to finish.

It avoids having to deal with issues where a client has chosen a retry strategy poorly, in the worst case pointlessly consuming CPU cycles busy-waiting on the queue or intro

[2022-07-18 17:25] cmacknz commented on #81
@faec or @leehinman do you have any thoughts to add here?

[2022-07-18 21:00] faec commented on #81
I think I prefer a fully blocking call if it's practical. Having RPCs routinely block for such a potentially long time makes me nervous abstractly, but since it's over local transport in our case I think it's ok. As far as concern (1), I agree this is possibly a false freedom for the client, since the knowledge that the queue is full shouldn't change the input's behavior (accumulate input data if

[2022-07-19 16:04] leehinman commented on #81
I'm in favor of a blocking call, and the client should use a deadline on the gPRC call so they don't wait forever.  If the client wants to do a more complex retry they can based on the gRPC call termination with `DEADLINE_EXCEEDED` or they could just try again.

In the server we should probably be checking to see  if the context is cancelled as well so we can stop using resources when the client h

[2022-07-19 17:41] nimarezainia commented on #28
@jlind23 i'll share the requirements doc shortly.

[2022-07-21 19:26] cmacknz opened #83 "Allow running the shipper in standalone mode independently of the agent"
The shipper's default mode of operation is to expect to be started by the agent, expecting to be passed the address of the agent control protocol server to connect to. The control protocol is then responsible for sending the shipper it's runtime configuration.

To make local development and testing easier, allow the shipper to run in a standalone mode independent of the agent. Add a new command li

[2022-07-21 19:27] cmacknz commented on #60
We will need https://github.com/elastic/elastic-agent-shipper/issues/83 so we can integration test the shipper without needing to start and configure the agent itself. Testing as part of agent can happen separately.

[2022-07-27 13:41] cmacknz opened #84 "The PublishEvents RPC should block when the queue is full"
Implementation issue following the discussion in https://github.com/elastic/elastic-agent-shipper/issues/81.

Specifically the RPC should block until at least one event is accepted into the queue. The RPC should not block until all events in the batch have been accepted into the queue.

The shipper queue's publish interface already blocks when the queue is full based on the underlying Beats' memor

[2022-07-27 13:42] cmacknz commented on #81
Closing in favor of the implementation issue: https://github.com/elastic/elastic-agent-shipper/issues/84

[2022-07-27 13:42] #81 closed

[2022-08-04 09:52] jlind23 opened #86 "Test issue for project automation"

[2022-08-04 09:55] #86 closed

[2022-08-04 13:52] jlind23 opened #88 "test issue with new V2 project"

[2022-08-04 13:52] #88 closed

[2022-08-09 14:23] rdner commented on #84
@cmacknz The issue description sounds like this is to be implemented in the `queue.Publish(event)` not in the `server.Publish` endpoint of the gRPC server, did I get it right?

If we just blocked on the channel like it's now implemented in beats (referenced [memory](https://github.com/elastic/beats/blob/e6db9a53f2fff60b350153b03407bc38b21bf0b1/libbeat/publisher/queue/memqueue/produce.go#L128-L136)

[2022-08-09 14:41] rdner commented on #34
As we discussed face to face with @cmacknz, we can remove https://github.com/elastic/elastic-agent-shipper/issues/63 from the DoD check list and leave it for future research.

[2022-08-09 16:00] cmacknz commented on #84
We will need to modify the Publish() interface to pass the RPC context through to allow cancellation to work properly at least, so we can consider further changes or additions to the queue Publish interface if it helps us get the behaviour we want.

I would like to eliminate retry loops and anything that resembles busy waiting if we can, and just rely on having the queue unblock us when it is read

[2022-08-09 19:36] faec commented on #84
Well, it's straightforward to handle events after the first one by calling `TryPublish` (which returns without blocking) instead of `Publish`. However yes, to wait on the first event without a retry loop we need at least some change to the queue API. I'd rather not expose the underlying channel, that's a distinct implementation detail in each queue, but we could make `Publish` accept a cancel/done

[2022-08-10 16:29] faec commented on #84
Yes, `TryPublish` will return directly if the queue is full but the only way a `Publish` call actually returns false is if the producer is cancelled by its caller.

I agree, this requires changes to the beats queue. I see a couple options. We could modify the queue producer interface itself:

[code]

We could change this prototype to be `Publish(event interface{}, cancel chan struct{}) (EntryID, e

[2022-08-11 14:48] rdner commented on #84
After a meeting, @cmacknz @faec and I decided on the following steps:

* [`Queue.Publish`](https://github.com/elastic/elastic-agent-shipper/blob/dcb84275af9bd434088246628f684f731e2ce8a2/queue/queue.go#L63-L68) (wrapper in Shipper) will support `context.Context` as an additional parameter to cancel blocking on event publishing if the connection with the gRPC client is lost. This will be converted i

[2022-08-11 14:56] rdner commented on #79
After a meeting, @cmacknz @faec and I decided on the following steps:

* We add a special `Strict Mode` configuration parameter for the gRPC server configuration
* If the `Strict Mode` is active, we inspect the whole event batch before trying to publish any of the events to the queue. We validate against missing required fields in each event.
* When we find an invalid event, we immediately return

[2022-08-12 19:07] #79 closed

[2022-08-12 19:18] elasticmachine opened #93 "Build 29 for main with status FAILURE"
## :broken_heart: Tests Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/29//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/29//tests) [![Cha

[2022-08-15 18:16] #84 closed

[2022-08-15 18:37] elasticmachine opened #96 "Build 31 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/31//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/31//tests) [![Cha

[2022-08-16 10:42] rdner commented on #83
It's currently possible to run the shipper server using the controller mock like so:

https://github.com/elastic/elastic-agent-shipper/blob/34571c41e892f8498d817a3b2784cc372b0985a2/controller/controller_client_test.go#L34-L91

We're planning to automate this but for the time being it can be coded quickly for debugging.

[2022-08-17 19:45] faec opened #97 "Beats shipper output shouldn't keep pending events in the queue"
ACK handling is being implemented in the shipper and its clients. This means Beats inputs that feed into the shipper output don't receive their acknowledgment callbacks until the shipper has sent the events upstream.

This means that currently, pending events are enqueued both in Beats _and_ in the shipper. Neither one can safely remove them, because it isn't known until the response comes back wh

[2022-08-17 20:58] cmacknz commented on #97
This issue originated in this comment chain: https://github.com/elastic/beats/pull/32708#discussion_r948124204

I think within the Beats' shipper client we will additionally make listening to persistent index changes asynchronous with respect to publishing events to the shipper. The current implementation waits for an acknowledgement before returning from the `Publish` call. See the comment here f

[2022-08-18 14:10] #61 closed

[2022-08-18 16:44] faec opened #98 "Beats shipper output should not wait for full acknowledgment before sending more batches"
The current draft of the Beats shipper output waits for full transmission and acknowledgment of every batch of events before it sends another. In particular, this means that no matter how big the shipper queue is, the Beats shipper output will never use more than one batch worth of it, and the overall throughput is limited -- similar to if a Beats input waited on full end-to-end acknowledgment in

[2022-08-22 15:53] cmacknz commented on #3
Closing, moving to meta issues that are aligned with the release cycle for tracking.

[2022-08-22 15:53] #3 closed

[2022-08-22 16:04] #93 closed

[2022-08-22 16:04] #96 closed

[2022-08-23 14:09] rdner commented on #98
@faec I have some questions regarding (3):

1. What happens when we reconnect to another server while listening to `PersistedIndex` and when the next pending batch was sent to a previous server with a different UUID. In this case the `PersistedIndex` value will start over from 0, right? My idea was that we have to cancel the whole batch. This edge case is not mentioned in the issue description.
2.

[2022-08-23 14:26] elasticmachine opened #99 "Build 34 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/34//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/34//tests) [![Cha

[2022-08-23 14:51] rdner commented on #98
For the 2., the simplest solution would be something like this:

https://go.dev/play/p/NPZKIkVaDT4

[code]

unless someone can suggest a better idea.

[2022-08-23 18:59] cmacknz opened #101 "Update with the latest changes to the V2 agent protocol"
The shipper includes an agent V2 protocol client which has changed significantly since it was last written. The scope of this issue is to update the protocol client to the latest version (if not done already) and ensure it still works as expected with the agent or a mock version of it.

[2022-08-23 21:38] fearful-symmetry commented on #12
Yep, this was deprioritized after the Beats/V2 work started. The main PR is in a steady state, so returning to this.

[2022-08-23 22:57] faec commented on #98
1. Anytime the UUID changes we need to reset everything. This means cancelling all outstanding batches and restarting the PersistedIndex listener, both of which could be done in the connection callback (when connect is called it can check for and clean up any existing batches / listeners from a previous connection). The persisted index will start over from 0 in the shipper, although we aren't guar

[2022-08-24 05:05] rdner commented on #98
@faec I didn't push for the channel implementation in 2. at all, I just mentioned my reasons behind the previous approach I took.

What I actually propose in 2. requires moving all the array items to the left as I describe in https://github.com/elastic/elastic-agent-shipper/issues/98#issuecomment-1224186523 unless you have a more efficient idea how to do that.

Regarding 1. I think we're on the sa

[2022-08-24 15:26] cmacknz commented on #34
Removed https://github.com/elastic/elastic-agent-shipper/issues/97 as it doesn't block completion of this issue.

[2022-08-25 08:28] jlind23 commented on #27
@cmacknz @faec is the 64 bit queue ID still something to do or can I close this issue?

[2022-08-25 15:34] softengchick commented on #16
Brian McKinney and Michelle Bennett will be working this for Endpoint.

[2022-08-26 15:32] nimarezainia commented on #15
@cmacknz @pierrehilbert is this meta issue what we should track for experimental availability of shipper in 8.5?

[2022-08-29 13:29] cmacknz commented on #27
The memory queue is done which is enough for 8.5 The disk queue can be handled in 8.6, I'll update the meta issues and the issue description.

[2022-08-29 13:37] cmacknz commented on #15
Yes this is the issue for the 8.5 milestone.

[2022-08-31 06:52] #98 closed

[2022-08-31 07:07] rdner commented on #83
For now it's going to be implemented as a flag that uses a configuration file bypassing the control protocol altogether. This will enable us to run integration tests without running the actual agent.

However, there is this [agent mock tool being developed](https://github.com/elastic/ingest-dev/issues/1198) that will allow us to include the control protocol implementation in our integration tests

[2022-09-06 20:56] #101 closed

[2022-09-06 20:56] #99 closed

[2022-09-06 20:58] cmacknz opened #104 "Automatically add agent info to Elasticsearch headers"
The existing Beats Elasticsearch output add the agent information to each request by configuring headers. The shipper needs to do the same. This will have to be implemented using the agent V2 protocol which can provide the agent info with the [CheckinAgentInfo](https://github.com/elastic/elastic-agent-client/blob/48ba9b7d52dbf6b748f95b2b859a1120e066db7d/elastic-agent-client.proto#L273) message.

T

[2022-09-07 14:30] cmacknz commented on #12
Updating to the version of the agent control client that includes https://github.com/elastic/elastic-agent-client/pull/3 should take care of this for us.

[2022-09-12 21:07] elasticmachine opened #106 "Build 35 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/35//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/35//tests) [![Cha

[2022-09-13 16:12] elasticmachine opened #108 "Build 1 for add-backport-next-8.6.0 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fadd-backport-next-8.6.0/detail/add-backport-next-8.6.0/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp

[2022-09-14 09:34] elasticmachine opened #109 "Build 36 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/36//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/36//tests) [![Cha

[2022-09-14 14:53] cmacknz commented on #34
Closing this one, testing tracked as part of the 8.5 milestone.

[2022-09-14 14:53] #34 closed

[2022-09-14 14:54] cmacknz commented on #8
All tasks complete, closing.

[2022-09-14 14:57] cmacknz commented on #15
Only outstanding issues to close this is the Elasticsearch output https://github.com/elastic/elastic-agent-shipper/issues/10 and standalone mode which is already in review https://github.com/elastic/elastic-agent-shipper/issues/83

[2022-09-15 18:20] cmacknz commented on #52
@fearful-symmetry I believe the work remaining here is to use a config transformation to automatically add the metadata `add_fields` processors from https://github.com/elastic/elastic-agent/pull/527to each of the Beats on the v2 feature branch.

[2022-09-19 21:16] fearful-symmetry commented on #52
@cmacknz A little confused here. The processors should all be added on the beats side, are you talking about importing them into the shipper?

[2022-09-20 16:30] cmacknz commented on #16
@softengchick @brian-mckinney is there an issue for this on the endpoint side we can follow?

If you have not seen it recently, the gRPC API for the shipper is defined at https://github.com/elastic/elastic-agent-shipper-client/tree/main/api. The current API is meant to be generic but it is tailored to the needs of Beats since that is what we started with. It is possible we missed something that co

[2022-09-20 17:21] cmacknz commented on #52
This issue was created before we had any of the v2 implementation in Beats. You are correct that the remaining work should happen in Beats, this issue will be transferred to the Beats repository.

[2022-09-21 13:32] elasticmachine opened #112 "Build 1 for 8.5 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.5/detail/8.5/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.5/detail/8.5/1//tests) [![Changes](

[2022-09-21 17:28] cmacknz opened #113 "Embed version information into the shipper."
The shipper currently does not embed any version information. Before the first release, we need to incorporate the version information into the binary. This can be done using the agent's [version/version.go](version/version.go) and related code as a template.

The release automation should also be updated to automatically create a PR to bump main to the next minor version (or existing minor branch

[2022-09-21 17:35] elasticmachine opened #114 "Build 2 for 8.5 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.5/detail/8.5/2//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.5/detail/8.5/2//tests) [![Changes](

[2022-09-21 17:41] elasticmachine opened #115 "Build 37 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/37//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/37//tests) [![Cha

[2022-09-22 12:35] jlind23 opened #116 "[meta] Implement the kafka output"
**Describe the enhancement:**
Bringing the Elastic Agent more in line with outputs supported by Beats.

**Describe a specific use case for the enhancement or feature:**
Enable customers who are using beats to send events/logs to a Kafka broker to be able to create the same environment and functionality using the Elastic Agent. Lack of this capability may be an inhibitor for the adoption of Elastic

[2022-09-22 14:29] #83 closed

[2022-09-22 14:41] elasticmachine opened #117 "Build 38 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/38//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/38//tests) [![Cha

[2022-09-22 18:33] leehinman opened #118 "[Meta] disk queue journey to GA"
## Checklist to achieve `experimental` status

- [ ] Add disk queue configuration to shipper configuration
- [ ] Add option to supply encryption key in configuration
- [ ] Add code to request key from elastic-agent in managed mode
- [ ] Add disk queue options/operation to documentation

## Checklist to achieve `beta` status

- [ ] Fleet UI, Add option to enable disk queue and send down configurati

[2022-09-22 18:36] leehinman opened #119 "add disk queue configuration to shipper configuration"
All of the beats disk queue options need to be available

- [ ] [beats user configs](https://github.com/elastic/beats/blob/15e846c2749412b2884553664d5a3905a51f1bce/libbeat/publisher/queue/diskqueue/config.go#L84-L94)
- [ ] [compression](https://github.com/elastic/beats/blob/15e846c2749412b2884553664d5a3905a51f1bce/libbeat/publisher/queue/diskqueue/config.go#L76)
- [ ] [protobuf](https://github.com

[2022-09-22 18:40] leehinman opened #120 "Add option to supply disk queue encryption key"
[encryption config](https://github.com/elastic/beats/blob/15e846c2749412b2884553664d5a3905a51f1bce/libbeat/publisher/queue/diskqueue/config.go#L73)

needs to be available in
- [ ] mananaged mode
- [ ] stand alone modes

[2022-09-22 18:46] leehinman opened #121 "Add code to request encryption key from elastic-agent in managed mode"
Relates #120

[2022-09-22 18:46] leehinman opened #122 "Add disk queue options and operation to documentation"

[2022-09-22 18:49] leehinman opened #123 "Verify keystore is maintained during elastic-agent upgrades"
This is required because the keystore will hold the encryption key, so
deleting the keystore will make the disk queue unreadable

[2022-09-22 18:51] leehinman opened #124 "Build Tool to performance test shipper with & without disk queue"
Relates #elastic/elastic-agent-inputs/#27
Relates #elastic/elastic-agent-inputs/#34
Relates #57

[2022-09-22 18:57] leehinman opened #125 "Add disk queue metrics to shipper metrics"
- [ ] cpu usage
- [ ] disk usage
- [ ] memory usage

[2022-09-23 14:18] cmacknz commented on #124
Do we want to attempt to do this via https://github.com/elastic/elastic-agent-shipper/issues/57? Or did you intend this to work differently, like a local command line benchmark of the shipper in isolation?

[2022-09-26 14:24] leehinman commented on #124
I think within #57, I'd prefer there to be only way to perf test.

[2022-09-26 18:09] elasticmachine opened #128 "Build 39 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/39//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/39//tests) [![Cha

[2022-09-26 20:11] leehinman commented on #33
Closing in favor of #118

[2022-09-26 20:11] #33 closed

[2022-09-26 21:33] cmacknz commented on #49
Rather than closing, I moved this to be tracked under #118 since I don't see another issue covering this behaviour there (unless I missed something).

[2022-09-26 21:54] cmacknz opened #129 "Implement the Logstash output"
The same as https://github.com/elastic/elastic-agent-shipper/issues/10 and https://github.com/elastic/elastic-agent-shipper/issues/116, but for Logstash.

The agent supports a Logstash output today, so the shipper must implement a Logstash output to maintain feature parity with the outputs already available today.

*Acceptance Criteria*
* An integration test exists proving that the shipper can com

[2022-09-27 19:57] cmacknz commented on #15
Closing, all outstanding work moved to the next milestone: https://github.com/elastic/elastic-agent-shipper/issues/16

[2022-09-27 19:57] #15 closed

[2022-09-29 05:36] elasticmachine opened #130 "Build 40 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/40//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/40//tests) [![Cha

[2022-09-30 07:36] elasticmachine opened #132 "Build 41 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/41//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmain/detail/main/41//tests) [![Cha

[2022-10-04 15:52] jlind23 commented on #10
@faec any update here?

[2022-10-05 02:00] cmacknz commented on #124
Closing in favour of https://github.com/elastic/elastic-agent-shipper/issues/57

[2022-10-05 02:00] #124 closed

[2022-10-12 16:50] cmacknz commented on #57
With a log file based test we may end up simply measuring the speed of the underlying disk, and not the true event per second limit of the shipper. I don't mind it as a starting point though.

[2022-10-13 14:40] cmacknz commented on #57
@leehinman has done some similar basic Filebeat throughput tests in the past (see https://github.com/elastic/elastic-agent-shipper/issues/30#issuecomment-1110954386 for one example).

@leehinman is there anything you can add to Josh's [comment above](https://github.com/elastic/elastic-agent-shipper/issues/57#issuecomment-1276288603) on getting a basic test set up to quickly compare the performance

[2022-10-13 18:06] #60 closed

[2022-10-13 18:46] cmacknz commented on #78
Closing in favour of the top level metrics issue: https://github.com/elastic/elastic-agent-shipper/issues/11

[2022-10-13 18:46] #78 closed

[2022-10-13 18:59] cmacknz commented on #28
I've updated the description here to reflect the proposed changes to the output configuration, which I believe are the most impactful.

We will likely want follow up issues about:
1. Load balancing configuration.
2. Queue configuration in the agent policy and UI. The memory queue parameters can already be specified in the shipper configuration file, the disk queue configuration will be available a

[2022-10-14 11:42] joshdover commented on #57
This is my biggest concern with my proposal as well at the higher worker and bulk_max_size configurations. That said, at the default of 1 worker we shouldn't be saturating the disk capacity and could still make some useful comparisons.

Definitely agree on the long-term value of the load generator input. My goal right now is finding a shorter path forward to ensure we're not introducing regression

[2022-10-14 14:27] leehinman commented on #57
@joshdover we could easily put [spigot](https://github.com/leehinman/spigot) in a Docker container.  Then it can produce the logs (File, S3-bucket, or Syslog TCP/UDP).  That way you don't have to have large files hanging around.

I wouldn't worry about measuring the speed of the underlying disk on the input side, it is more likely that you will be measuring the index, ingest pipeline and write spe

[2022-10-18 14:08] cmacknz commented on #28
We will also need to consider how to handle existing agent policies that specify the worker and  bulk_max_size parameters as advanced YAML configuration. We will likely need to handle both the old and new set of parameters. Fleet could migrate the policy for us, but that won't help standalone agents.

[2022-10-18 19:33] cmacknz commented on #49
Let's treat this like a design issue. The outcome for this issue should be a decision on which approach we take to handle this situation, with follow up issues created for implementation of that approach.

[2022-10-18 19:45] cmacknz commented on #10
Let's rescope this to just producing an MVP Elasticsearch output that allows a Beat to publish events through the shipper to a single datastream index. We will create follow up issues for the remaining features.

In the initial version we can assume the Elasticsearch output in the agent policy is trivial, like the basic example from https://www.elastic.co/guide/en/fleet/current/elasticsearch-outpu

[2022-10-20 16:30] cmacknz commented on #28
Given this will affect the agent policy and the Fleet UI, we should probably convert this (or create) a cross team feature issue for this work. We will likely want to break each of the changes in the proposal into individual issues so they can be investigated and implemented incrementally.

[2022-10-20 17:56] #106 closed

[2022-10-20 17:56] #108 closed

[2022-10-20 17:56] #109 closed

[2022-10-20 17:56] #112 closed

[2022-10-20 17:56] #114 closed

[2022-10-20 17:56] #115 closed

[2022-10-20 17:56] #117 closed

[2022-10-20 17:56] #128 closed

[2022-10-20 17:56] #132 closed

[2022-10-25 16:26] faec opened #141 "`mage lint` is undefined"
The repository `README` lists `mage lint` as the command to run the linter, but no such mage command exists.

[2022-10-25 18:48] cmacknz commented on #141
Looks like the `lint` alias was removed accidentally in https://github.com/elastic/elastic-agent-shipper/pull/73/files#diff-520109d035a196d29d0a86e9c4e6c98e98abf056141b84df68c0d48167b87b25

[2022-10-25 18:54] fearful-symmetry opened #142 "Implement `occupied_idle` metrics for the shipper"
As part of https://github.com/elastic/elastic-agent-shipper/issues/11, we need an `occupied_idle` metric that reports events that have been ack'ed by the output, but are still occupied by the queue. This is part of a series of metrics first proposed by @faec here: https://github.com/elastic/beats/issues/31113#issuecomment-1128048645

Still looking into how to implement this, since it's been months

[2022-10-25 19:01] fearful-symmetry opened #143 "Implement `occupied_retry` metrics for the shipper"
As part of https://github.com/elastic/elastic-agent-shipper/issues/11, we need an `occupied_retry` metric that reports events that have been read, but failed to send.

This metric will need to be implemented in the output code, which means we're soft-blocked by https://github.com/elastic/elastic-agent-shipper/pull/137, which is migrating the elasticsearch output to the shipper. Because of this, we

[2022-10-25 19:10] cmacknz commented on #141
Fix https://github.com/elastic/elastic-agent-shipper/pull/144

[2022-10-25 19:12] fearful-symmetry opened #145 "Implement queue metrics for the disk queue"
The disk queue currently does not implement a metrics API:

https://github.com/elastic/beats/blob/d04da481f51c3f41b814106259145042baace857/libbeat/publisher/queue/diskqueue/queue.go#L284-L286

These are metrics used by self-monitoring in the shipper, as part of this issue: https://github.com/elastic/elastic-agent-shipper/issues/11

These metrics API was designed with the memory queue in mind, so I

[2022-10-25 19:19] fearful-symmetry opened #146 "Implement an "oldest event" metric for the queue"
Continuing from the discussion here: https://github.com/elastic/elastic-agent-shipper/issues/11#issuecomment-1099632087 we need a metric for tracking the duration/timestamp of the oldest event in the queue. If I remember an older conversation with @faec , this might be somewhat difficult to implement due to the current design of the memory queue, but its been a while since we approached this, and

[2022-10-25 19:29] fearful-symmetry commented on #146
ooop, never mind, this one is already implemented here, somehow forgot about it: https://github.com/elastic/elastic-agent-shipper/blob/main/monitoring/queuemon.go#L137

[2022-10-25 19:42] #141 closed

[2022-10-25 19:59] cmacknz commented on #145
The metrics to report are defined in https://github.com/elastic/elastic-agent-shipper/issues/11, specifically we want:

- [ ] The current configured maximum size of the disk queue in bytes.
- [ ] The current utilization of the disk queue in bytes:
- [ ] The age of the oldest item in the disk queue in nanoseconds.

[2022-10-25 20:52] fearful-symmetry commented on #146
Ah, wait, opening this back up again, the code we have just reports the _ID_ of the oldest event, not any actual timestamp.

[2022-10-26 18:29] faec commented on #143
Pointer for when you get to working on this: the analogous concept in libbeat is probably the `Observer` interface. This doesn't exist in the shipper, but when porting the elasticsearch output I left the observer hooks and callbacks present but commented out, so if you search the shipper code for anything related to observers you will probably at least find where in the code the callbacks need to

[2022-10-27 13:58] #119 closed

[2022-10-27 17:54] #10 closed

[2022-10-28 19:02] #43 closed

[2022-10-28 19:03] cmacknz commented on #43
Closing as won't do for now. We'll come back to this if we feel it is necessary.

[2022-10-31 13:26] #104 closed

[2022-10-31 14:22] leehinman commented on #49
Design doc [here](https://docs.google.com/document/d/1vG7VB_nTh8sZCnYg3Xf8eepg-IPX9ZI-sTlh51Zul_Y/edit?usp=sharing)

[2022-10-31 15:09] leehinman commented on #121
closed in favor of elastic/elastic-agent#1656

[2022-10-31 15:09] #121 closed

[2022-10-31 15:32] leehinman commented on #120
closed via #138

[2022-10-31 15:32] #120 closed

[2022-10-31 15:40] cmacknz opened #148 "Add an integration test for the Elasticsearch output"
Add a basic integration test for the shipper Elasticsearch output. The test should:

1) Start Elasticsearch as a Docker container.
2) Start the shipper binary with an Elasticsearch output configured to write to the Elasticsearch Docker container.
3) Setup a single data stream as the target for the events that will be ingested during the test. https://www.elastic.co/guide/en/elasticsearch/reference

[2022-10-31 15:53] cmacknz opened #149 "Allow configuring the Elasticsearch output's flush and worker parameters"
After switching to the go-elasticsearch client (https://github.com/elastic/elastic-agent-shipper/issues/14) we need to allow the user to configure at least the following parameters:

1. `FlushBytes`, which per https://github.com/elastic/elastic-agent-shipper/issues/28 we should name `maximum_batch_bytes` in our configuration.
2. `FlushInterval`, which per https://github.com/elastic/elastic-agent-s

[2022-10-31 15:58] cmacknz opened #150 "Allow configuring multiple concurrent Elasticsearch requests via the worker parameter"
Add support for the `worker` configuration parameter to the shipper Elasticsearch output. Each additional worker should increase the number of concurrent requests to Elasticsearch that can be in flight.

We should strive to make the behaviour the same as the existing Beats' Elasticsearch output (https://www.elastic.co/guide/en/beats/filebeat/current/elasticsearch-output.html#_worker). Requests sho

[2022-10-31 17:02] cmacknz opened #151 "Allow configuring the Elasticsearch output's timeouts and retry strategy"
Add support for configuring retry and timeout parameters in the Elasticsearch output.

Using the existing Elasticsearch output error and retry parameters as a guide, we should allow configuring the following parameters:

* The maximum number of retries before giving up on an event. See [max_retries](https://www.elastic.co/guide/en/beats/metricbeat/current/elasticsearch-output.html#_max_retries). D

[2022-10-31 17:20] cmacknz opened #152 "Allow the Elasticsearch output to load balance between multiple hosts"
Support load balancing when multiple Elasticsearch hosts are configured. The behaviour should be the same as the existing Elasticsearch output. See the [hosts](https://www.elastic.co/guide/en/beats/filebeat/current/elasticsearch-output.html#hosts-option) documentation:

Acceptance Criteria:
* A test exists proving that requests are load balanced across multiple hosts when they are configured.

[2022-10-31 18:09] cmacknz commented on #28
If we were to switch to using the go-elasticsearch client's BulkIndexer we would get this change essentially for free. BulkIndexer allows specifying a flush threshold in bytes and a minimum flush duration. https://pkg.go.dev/github.com/elastic/go-elasticsearch/v8/esutil#BulkIndexerConfig

[2022-10-31 18:52] cmacknz commented on #150
Closing as duplicate of https://github.com/elastic/elastic-agent-shipper/issues/149

[2022-10-31 18:52] #150 closed

[2022-10-31 19:29] cmacknz commented on #11
I am moving the output metrics to a separate issue, let's just focus on the queue metrics with this issue.

[2022-10-31 19:33] cmacknz opened #153 "Expose shipper output performance metrics"
With the switch to the go-elasticsearch client we should expose the Elasticsearch client, transport, and BulkIndexer metrics as part of the shipper metrics.

We should capture and expose at least the following metrics as part of the shipper HTTP stats endpoint:

* https://pkg.go.dev/github.com/elastic/go-elasticsearch/v8#BaseClient.Metrics
* https://pkg.go.dev/github.com/elastic/go-elasticsearch/v

[2022-10-31 19:34] cmacknz commented on #11
https://github.com/elastic/elastic-agent-shipper/issues/153

[2022-11-01 18:44] cmacknz commented on #142
Closing, deferred until we have a concrete need for this metric. Let's focus on output metrics.

[2022-11-01 18:44] #142 closed

[2022-11-01 18:44] cmacknz commented on #143
Closing, deferred until we have a concrete need for this metric. The output metrics are more valuable (when to increase batch sizes or worker count).

[2022-11-01 18:44] #143 closed

[2022-11-03 09:38] jlind23 commented on #28
@cmacknz shouldn't we for good swithc to the go-elasticsearch client then?

[2022-11-03 14:51] cmacknz commented on #28
Yes I have prioritized https://github.com/elastic/elastic-agent-shipper/issues/14 as the next task for the shipper.

[2022-11-03 17:26] elasticmachine opened #157 "Build 1 for mergify/bp/8.5/pr-100 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2Fmergify%2Fbp%2F8.5%2Fpr-100/detail/mergify%2Fbp%2F8.5%2Fpr-100/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shi

[2022-11-04 14:43] #74 closed

[2022-11-04 15:46] pierrehilbert opened #159 "Include Shipper artifacts in Elastic Agent artifacts"
Related to the meta issue https://github.com/elastic/elastic-agent/issues/592 and https://github.com/elastic/elastic-agent-shipper/issues/74

**What?**
Shipper artifacts included in Elastic Agent Artifacts.

**Why?**
Same if Shipper will be in experimental, when we will turn on the flag, we need the artifact to be there because the Agent won't be able to download it on demand.

**How?**
@michalpri

[2022-11-04 15:53] #159 closed

[2022-11-04 18:47] leehinman commented on #11
Tried to think of things that would be useful for the disk queue, here is what I came up with.

- Size on Disk (queue already tracks this)
- Number of Events (need to add code to track)
- Rate of Events added to queue last 1, 5, 15 minutes
- Rate of Events removed from queue last 1, 5, 15 minutes
- Date of oldest segment (once a segment is full, we shouldn't write to it again, so this should show

[2022-11-04 19:15] cmacknz opened #161 "Synchronize the shipper configuration model with what is implemented in the agent"
The shipper currently defines a configuration file with the following format: https://github.com/elastic/elastic-agent-shipper/blob/main/elastic-agent-shipper.yml

This configuration file was implemented before the design decisions needed to integrate the shipper into the agent were finalized. We need to update it to match the final design decisions. Specifically it was decided that:
1. The agent

[2022-11-07 15:34] nimarezainia commented on #160
@jlind23 (sorry I missed this one) I will assign this to myself as it needs to have the UX quickly defined. I suggest we have two issues one for  Agent and one for Fleet.

[2022-11-07 15:53] jlind23 commented on #160
@kpollich would you mind creating the fleet issue from there?

[2022-11-07 15:56] kpollich commented on #160
Sure. Once @nimarezainia defines the UX here I can flesh out an implementation issue for this.

[2022-11-07 22:22] leehinman opened #163 "[Design] Evaluate beats observer pattern for output metrics"
Shipper outputs need to expose metrics.  Beats uses https://github.com/elastic/beats/blob/main/libbeat/outputs/observer.go

Should we use this or something that could be shared with queues and other parts of the shipper.

Outcome of this issue should be a design document lists options and proposes one.

[2022-11-08 10:03] michalpristas commented on #113
automation already in place

[2022-11-08 14:57] michalpristas commented on #113
closing PR went in

[2022-11-08 14:57] #113 closed

[2022-11-08 15:18] robbavey opened #165 "Kafka output should support `codecs`"
In order to achieve parity with the beats Kafka output, the shipper Kafka output should support `codecs`

A `codec` enables the user to output the beat in different formats, either by outputting `json` with the options of outputting in `pretty` or with `escaped_html`, or by specifying a configurable format string to create a custom formatted message.

[2022-11-08 15:18] robbavey opened #166 "Add an integration test for the Kafka output"
Add a basic integration test for the shipper Kafka output. The test should:

- Start Kafka as a Docker container.
- Start the shipper binary with a Kafka output configured to write to the Kafka Docker container.
- Setup topics as the target for the events that will be ingested during the test.
- Publish events to the shipper via the gRPC API and ensure they are ingested into the target topics with

[2022-11-08 15:19] robbavey opened #167 "Kafka output topic selection should match that from beats output"
In order to achieve parity with the beats Kafka output, the shipper Kafka output should support "selectors" for topic selection.

In the initial implementation, the topic can be chosen dyncamically using an `EventFormatString`, giving less flexibility to than the beats output provides.

[2022-11-08 15:23] robbavey opened #168 "Make Kerberos support GA for Kafka output"
This is a placeholder issue to track the requirements to enable us to provide GA support for using Kerberos in the Kafka Output

- [ ] Support Kerberos Authentication with Microsoft Active Directory (given that the implementation was a direct port from the beats output, I am going to make the assumption that https://github.com/elastic/beats/issues/33334 is still an issue here)

[2022-11-08 16:37] cmacknz commented on #14
Corrected the link to the APM modelindexer code to https://github.com/elastic/apm-server/tree/02740f761049d6c04a283ef4708cdeb51c997b74/internal/model/modelindexer in the description.

https://github.com/elastic/apm-server/blob/6e7546304e4d2f0829120e3dfcf7c60c054d5e1a/dev_docs/ARCHITECTURE.md#modelindexer-architecture contains a brief description of their architecture. I don't know that it will dir

[2022-11-08 18:12] #12 closed

[2022-11-08 18:39] cmacknz commented on #161
This is the Fleet UI implementation issue for supporting the shipper in the agent policy: https://github.com/elastic/kibana/issues/141508

In particular I've provided some examples of how the shipper queue and output parameters can be configured in https://github.com/elastic/kibana/issues/141508#issuecomment-1307665963

[2022-11-08 18:40] cmacknz commented on #149
I provided a preliminary specification for some of these parameters to the Fleet UI team to unblock UI developmenet: https://github.com/elastic/kibana/issues/141508#issuecomment-1307665963

If we decide to implement these configurations in a different way we will need to follow up and ensure those changes are reflected in Fleet.

[2022-11-08 22:06] cmacknz commented on #166
Relates to https://github.com/elastic/elastic-agent-shipper/issues/148, the test setup between the two is likely to be extremely similar.

[2022-11-09 23:04] fearful-symmetry commented on #11
Looks like it got auto-closed. Since this is a meta-issue, reopening for now...

[2022-11-10 20:20] cmacknz opened #171 "The shipper should report itself as FAILED when multiple outputs are configured."
The shipper does not support multiple outputs. When multiple outputs are detected in the shipper configuration provided by the agent, the shipper should report itself as in the FAILED state on its next checkin with the agent.

Currently the behaviour configuration multiple outputs is to pick one based on an arbitrary ordering:

https://github.com/elastic/elastic-agent-shipper/blob/598c8e68825f611c

[2022-11-10 20:38] cmacknz opened #172 "Support output proxy configuration"
The shipper needs to support configuration of proxies for the output via the `output.proxy_url` configuration key as described in https://www.elastic.co/guide/en/fleet/current/fleet-agent-proxy-support.html#_set_the_proxy_for_communicating_with_elasticsearch.

The shipper should also support proxy configuration via environment variables as described in https://www.elastic.co/guide/en/fleet/current

[2022-11-10 20:45] cmacknz opened #173 "Add an end to end test suite for the shipper."
Add an E2E test suite specific to the shipper that does the following:

  - [ ] Add a test where the agent is configured to use the shipper, then downgraded to a version without the shipper.
  - [ ] Add a test where the agent is configured to use the shipper from startup.
  - [ ] Add a test where the agent is configured not to use the shipper at startup, then switched over to use.
  - [ ] Add a te

[2022-11-10 20:51] cmacknz opened #174 "The shipper should report its output unit as DEGRADED when it cannot publish events to Elasticsearch"
The shipper output unit should be reported as DEGRADED using the V2 control protocol when it cannot connect or write to Elasticsearch.

We should not report the status as DEGRADED on the first error, but only when the condition has persisted after several retries. Initially we can consider only setting the status to DEGRADED if the problem persists for 30 seconds.

We should additionally consider

[2022-11-10 21:01] cmacknz opened #175 "Explore an autoscaling Elasticsearch output based on the APM Server autoscaling work"
APM Server now has an autoscaling Elasticsearch output (specialized to the APM data model). We should explore porting their implementation into the shipper with the goal of eliminating the need to manually tune the number of workers and the output batch size.

The initial APM autoscaling implementation was done in https://github.com/elastic/apm-server/pull/9393 and linked to the following tracking

[2022-11-10 23:58] leehinman opened #176 "Add support for running docker images to integration tests"
**Describe the enhancement:**

Add support for running docker images to integration tests

**Describe a specific use case for the enhancement or feature:**

Speed up testing for kafka & elasticsearch outputs

[2022-11-14 20:44] fearful-symmetry commented on #161
@cmacknz is the plan to support multiple outputs in that config? Right now it's built on the assumption that we'll get one "main" output config that determines the behavior of the shipper.

[2022-11-14 20:56] cmacknz commented on #161
When an agent policy configures multiple outputs, the agent will start multiple independent shipper processes. Each shipper process will have a single output type configured (ES, Logstash, Kafka, etc.).

We may support multiple outputs in a single shipper process in the far future. For now we do not.

[2022-11-15 18:38] #165 closed

[2022-11-16 09:34] elasticmachine opened #179 "Build 1 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/1//tests) [![Changes](

[2022-11-16 17:46] elasticmachine opened #180 "Build 2 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/2//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/2//tests) [![Changes](

[2022-11-16 18:05] elasticmachine opened #181 "Build 3 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/3//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/3//tests) [![Changes](

[2022-11-16 19:00] elasticmachine opened #182 "Build 4 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/4//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/4//tests) [![Changes](

[2022-11-17 00:23] fearful-symmetry commented on #161
Alright, updating this with the current state, and issues

- Still figuring out how to handle the config coming from the input units. The shipper wasn't designed on the assumption that each input unit would get its own gRPC socket, so there will be a certain amount of retooling the gRPC server code
- Logging is a bit hacky as we wait for this: https://github.com/elastic/elastic-agent/pull/1702
- M

[2022-11-17 03:44] fearful-symmetry commented on #161
@cmacknz

Yah, sorry, I keep on getting confused by how the input configs are operating. The [fake shipper](https://github.com/elastic/elastic-agent/tree/main/pkg/component/fake/shipper) used for testing elastic agent spins up a new server with every input, using the TLS and server settings specified in that input unit config, but looking at the configs I'm seeing as I develop against elastic-agen

[2022-11-17 06:45] cmacknz commented on #161
Got it thanks for clarifying.

The way to view this is that the agent is incredibly flexible in what it can provision. In the extreme each individual input is its own process connected to an input specific shipper. From an architecture perspective it makes to have this level of flexibility.

However in practice we aren't going to do that. We are going to connect each Beat process (component) to a

[2022-11-20 17:41] amitkanfer commented on #28
@alexsapran - put this one your radar

[2022-11-21 14:06] jlind23 commented on #28
@cmacknz shouldn't I close this issue as @faec is currently working on the migration to the go elasticsearch client?

[2022-11-21 14:08] cmacknz commented on #28
I would close this once we have proven the go-elasticsearch client behaves the way we want, and that there will be no additional changes required.

I'll also have to confirm that we have the Fleet UI changes tracked separately since they are mentioned here.

[2022-11-21 17:14] faec opened #186 "Move batch assembly / acknowledgment out of the Beats queue"
In Beats, vending of events from the queue and acknowledgment of those events by the outputs is done in "batches," arrays of consecutive events that are sent together over the network, and are removed from the queue as a single unit when complete.

In the agent shipper, outputs no longer use the batch abstraction -- the boundary of a network "batch" can happen anywhere based on the configuration o

[2022-11-21 19:20] jlind23 commented on #54
@nimarezainia could you kindly answer @cmacknz's questions before we can move this further.

[2022-11-23 00:11] blakerouse commented on #161
The fake shipper is very simple and you are correct in its implementation it would start multiple GRPC listeners per unit, but the tests know that there will only every be one so it doesn't really need to worry about that. The real shipper should only start 1 listener per its process. The "server" address will always be the same for each input unit, the certificates will be different. You can use

[2022-11-23 00:12] blakerouse commented on #161
@cmacknz We will need to fix how the monitoring output configuration is added to the Elastic Agent. At the moment it is defined as a seperate output, which is why the Elastic Agent is performing that behavior.

[2022-11-29 01:03] cmacknz commented on #161
Draft PR for shipper support in Fleet: https://github.com/elastic/kibana/pull/145755

[2022-11-30 15:36] elasticmachine opened #196 "Build 7 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/7//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/elastic-agent-shipper-mbp%2F8.6/detail/8.6/7//tests) [![Changes](